<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!-- Meta, title, CSS, favicons, etc. -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="images/favicon.ico" type="image/ico" />
	<title>Admin</title>
	<!-- Bootstrap -->
	<link href="~/Areas/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<!-- Font Awesome -->
	<link href="~/Areas/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<!-- NProgress -->
	<link href="~/Areas/vendors/nprogress/nprogress.css" rel="stylesheet">
	<!-- iCheck -->
	<link href="~/Areas/vendors/iCheck/skins/flat/green.css" rel="stylesheet">

	<!-- bootstrap-progressbar -->
	<link href="~/Areas/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
	<!-- JQVMap -->
	<link href="~/Areas/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
	<!-- bootstrap-daterangepicker -->
	<link href="~/Areas/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
	<!-- Custom Theme Style -->
	<link href="~/Areas/build/css/custom.min.css" rel="stylesheet">
	<script src="~/Scripts/modernizr-2.8.3.js"></script>
	<script src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>

<body>
	<div class="container body-content">

		<!-- page content -->
		@RenderBody()
		<!-- /page content -->
		<!-- footer content -->
		<footer>
			<div class="pull-right">
				Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
			</div>
			<div class="clearfix"></div>
		</footer>

		<!-- /footer content -->
		<!-- jQuery -->
		<script src="~/Areas/vendors/jquery/dist/jquery.min.js"></script>
		<script src="~/Areas/vendors/jquery/dist/jquery.min.js"></script>
		<!-- Bootstrap -->
		<script src="~/Areas/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
		<!-- FastClick -->
		<script src="~/Areas/vendors/fastclick/lib/fastclick.js"></script>
		<!-- NProgress -->
		<script src="~/Areas/vendors/nprogress/nprogress.js"></script>
		<!-- bootstrap-progressbar -->
		<script src="~/Areas/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
		<!-- Custom Theme Scripts -->
		<script src="~/Areas/build/js/custom.min.js"></script>

		<!-- jQuery -->
		<script src="~/Areas/vendors/jquery/dist/jquery.min.js"></script>
		<!-- Bootstrap -->
		<script src="~/Areas/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
		<!-- FastClick -->
		<script src="~/Areas/vendors/fastclick/lib/fastclick.js"></script>
		<!-- NProgress -->
		<script src="~/Areas/vendors/nprogress/nprogress.js"></script>
		<!-- iCheck -->
		<script src="~/Areas/vendors/iCheck/icheck.min.js"></script>

	</div>

	<script src="~/Scripts/jquery-1.10.2.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</body>
</html>
