<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="KSysContextEntities" connectionString="metadata=res://*/MyDbContext.MyDb.csdl|res://*/MyDbContext.MyDb.ssdl|res://*/MyDbContext.MyDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\KSysContext.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="KSysContextEntities1" connectionString="metadata=res://*/MyDbContext.Model1.csdl|res://*/MyDbContext.Model1.ssdl|res://*/MyDbContext.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=C:\Users\User\Documents\KSysContext.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="KSysContextEntities2" connectionString="metadata=res://*/MyDbContext.MyDB.csdl|res://*/MyDbContext.MyDB.ssdl|res://*/MyDbContext.MyDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=C:\Users\User\Documents\KSysContext.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="KSysContext" connectionString="metadata=res://*/MyDbContext.MyDatabase.csdl|res://*/MyDbContext.MyDatabase.ssdl|res://*/MyDbContext.MyDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=C:\Users\User\Documents\KSysContext.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>